<mat-card>
  <mat-card-title>
    <span>Author:  <i>{{ message.author }}</i></span>
  </mat-card-title>
  <mat-card-content>
    <p>{{ message.message }}</p>
    <span class="date">{{ message.date }}</span>
  </mat-card-content>
</mat-card>
