<div class="container">
  <div class="chat-app">
    <mat-card>
      <mat-card-title>
        <mat-progress-bar mode="indeterminate" *ngIf="!fetchingMessages"></mat-progress-bar>
        <h3>My chat</h3>
      </mat-card-title>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-card-content>
          <app-message-item *ngFor="let message of messages"
                            [message]="message"
          ></app-message-item>
        </mat-card-content>
      </cdk-virtual-scroll-viewport>
      <mat-card-footer>
        <form #f="ngForm" (ngSubmit)="sendMessage()">
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Enter your name</mat-label>
              <input matInput name="author" ngModel required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Enter your message</mat-label>
              <textarea matInput name="message" ngModel required></textarea>
            </mat-form-field>
          </div>
          <button mat-icon-button type="submit" [disabled]="f.invalid">
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
