.example-viewport
  height: 400px

mat-card-footer
  padding: 25px 15px 5px

.mat-icon-button
  margin-left: 15px

.chat-app
  margin: 0 auto
  max-width: 500px

.example-full-width
  width: 100%

form
  display: flex

form button
  margin: 35px 5px
